Package: wireguird
Version: 1.0.0
Section: net
Priority: optional
Architecture: amd64
Depends: wireguard-tools
Maintainer: Sergei Manenkov <smanenkov@s-terra.ru>
Description: GUI VPN NGFW
 GUI VPN NGFW client for managing WireGuard tunnels securely.
Homepage: https://s-terra.com
