[Desktop Entry]
Name=WireGuird VPN
Comment=WireGuard GUI
Exec=/usr/local/bin/wireguird
Icon=wireguird
Terminal=false
Type=Application
Categories=Network;Security;
StartupWMClass=NGFW_VPN
